# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
env.sh
staging_env.sh
prod_env.sh
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode

.python-version
.DS_Store

rabbitmq/

docs/_build/
data_files/
mediafiles/

random_notes.py
