django==3.2.8
django-oauth-toolkit==2.0.0
djangorestframework==3.11.2
django-cors-middleware==1.5.0
django-cors-headers
gunicorn
uvicorn[standard]

dj-database-url==0.5.0
djangorestframework-simplejwt
django-filter==2.4.0
djoser
psycopg2-binary
phonenumbers
django-phonenumber-field
sentry-sdk==1.9.5
firebase-admin==6.1.0

ipython==8.18.1

boto3==1.35.27
django-storages==1.14.4
